<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.edu.pu.s1082821.bombgame">

    <application
        android:allowBackup="true"
        android:icon="@drawable/boom"
        android:label="拆除炸彈"
        android:roundIcon="@drawable/boom"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bombgame">
        <activity android:name=".Info"></activity>
        <activity android:name=".Boom" />
        <activity android:name=".SecTFGame" />
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>